.chat-bubble h1 {
  font-size: 1.8rem !important;
  font-weight: bold !important;
  margin-top: 1.5rem !important;
}

.chat-bubble h2 {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  margin-top: 1rem !important;
}

.chat-bubble h3 {
  font-size: 1.2rem !important;
  font-weight: bold !important;
  margin-top: 0.75rem !important;
}

.chat-bubble::before {
  display: none;
}

.chat-bubble {
  background: linear-gradient(to top right, #8b5cf6 20%, #3b82f6 80%);
  border-end-start-radius: 0.5rem !important;
  border-end-end-radius: 0.5rem !important;
}

.btn.btn-primary {
  background: linear-gradient(
    to top right,
    #8b5cf6 20%,
    #3b82f6 80%
  ) !important;
  border: none !important;
  transition: all 0.5s ease-in-out !important;
}

.btn.btn-primary:hover {
  background: linear-gradient(
    to top right,
    #b197f8 20%,
    #90baf8 80%
  ) !important;
  transition: all 0.5s ease-in-out !important;
}

.chat-bubble a,
.chat-bubble a:hover {
  color: #21163b !important;
}

a.btn,
.btn.btn-primary,
.btn-primary svg {
  color: whitesmoke !important;
}

.navbar.sticky {
  background: rgba(255, 255, 255, 0.1) !important;
  border-radius: 16px !important;
  backdrop-filter: blur(10px) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  border: 1px solid rgba(255, 255, 255, 0.2) !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  margin: 15px !important;
  width: calc(100% - 30px) !important;
  position: sticky !important;
  top: 15px !important;
  border: none !important;
}

.navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px;
  border-radius: 16px;

  background: linear-gradient(to bottom, #8b5cf6 10%, transparent);

  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);

  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}
