{
    "base_url": "{{ base_url }}",
    "_g": {
        "filters": [],
        "refreshInterval": {
            "pause": {{ 'true' if refresh_paused else 'false' }},
            "value": {{ refresh_interval }}
        },
        "time": {
            "from": "{{ start_time }}",
            "to": "{{ end_time }}"
        }
    },
    "_a": {
        "columns": [
            {% for viewable_field in visible_fields %}
                "{{ viewable_field }}"{% if not loop.last %},{% endif %}
            {% endfor %}
        ],
        "dataSource": {
            "dataViewId": "{{ data_view_id }}",
            "type": "dataView"
        },
        "filters": [
            {% for fil in filters %}
                {{ fil }}{% if not loop.last %},{% endif %}
            {% endfor %}
        ],
        "grid": {
            "columns": {}
        },
        "interval": "auto",
        "query": {
            "language": "kuery",
            "query": "{{ search_query }}"
        },
        "sort": [
            [
                "@timestamp",
                "desc"
            ]
        ]
    }
}