{% raw %}Estrai dalla conversazione dei filtri deterministici da applicare alla ricerca su Kibana, e restituisci un JSON strutturato.

I filtri sono strutturati in questo modo:
[field] [operator] [value]
dove [field] indica la chiave, ovvero il valore o variabile per cui filtrare
[operator] indica la relazione tra i valori. Gli operatori possibili sono: {% endraw %}{{ operators_str }}{% raw %}.
e infine [value] indica il valore a cui si sta comparando.

FORMATO:
L'output che devi ritornare è un dict JSON contenente tre elementi, "filters", "start_time" e "end_time":
# "filters"
"filters": una lista di dizionari che indicano il filtraggio.
Ogni dizionario ha varie proprietà:
"field": la [field] da comparare
"operator": l' [operator] da usare. Usa il *NOME ESATTO* dell'operatore che vuoi usare, tra quelli indicati in precedenza.
"value": il [value] per l'operatore
# "start_time" 
"start_time": indica fino a quanto tempo fa estendere la ricerca in *iso8601Duration* __se l'utente non specifica questo parametro, è "P10DT0H0M"__.
# "end_time"
"end_time": indica fino a quanto tempo estendere la ricerca in *iso8601Duration* __se l'utente non specifica questo parametro, è "PT0S"__.

"iso8601Duration": {
    "type": "string",
    "description": "Duration in ISO 8601 format (e.g., 'P3Y6M4DT12H30M5S' for 3 years, 6 months, 4 days, 12 hours, 30 minutes, and 5 seconds). The format starts with 'P' for period, followed by date elements: Y (years), M (months), D (days). time elements (H, M, S) must be preceded by a 'T'. For example, 'PT10M' is 10 minutes, and 'P1DT2H' is 1 day and 2 hours. The 'T' is required if time elements are present."
}

IMPORTANTE:
Alcune [field] possono essere sottointese dall'utente, ecco la lista di esse e delle loro descrizioni:
{% endraw %}{{ main_fields_str }}{% raw %}

ESEMPIO:
conversazione: "Aggiungi un filtraggio in modo che example.test.kubernetes.num sia uguale a 8 e log.level sia di errore negli ultimi 50 minuti"
output: "{
"filters": [{
"field":"example.test.kubernetes.num",
"operator":"is",
"value":8
},
{
"field":"log.level",
"operator":"is_not",
"value":"error"
}],
"start_time": "PT50M",
"end_time": "PT0S"
}"

CONVERSAZIONE:
{% endraw %}{{ conversation_history }}